/*
 * ZMK Keymap — exported from editor
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>

#define LAYER_0 0
#define LAYER_1 1
#define LAYER_2 2
#define LAYER_3 3
#define LAYER_4 4
#define LAYER_5 5
#define LAYER_6 6
#define LAYER_7 7
#define LAYER_8 8
#define LAYER_9 9
#define LAYER_10 10
#define LAYER_11 11

&mt {
  //  flavor = "tap-preferred";
   // tapping_term_ms = <200>;
};

/ {
macros {
	sten_on: sten_on {
	compatible = "zmk,behavior-macro";
	label = "STEN_ON";
	#binding-cells = <0>;
	bindings = <&macro_tap &to LAYER_7>
		, <&macro_press &kp P &kp H &kp R &kp O &kp L &kp G>
		, <&macro_release &kp P &kp H &kp R &kp O &kp L &kp G>;
        };
    };
};

/ {
macros {
	sten_off: sten_off {
	compatible = "zmk,behavior-macro";
	label = "STEN_OFF";
	#binding-cells = <0>;
	bindings = <&macro_tap &to LAYER_0>
		, <&macro_press &kp P &kp H &kp R &kp O &kp L &kp G>
		, <&macro_release &kp P &kp H &kp R &kp O &kp L &kp G>;
        };
    };
};

/ { 
behaviors {

		ldt: layer_double_tap {
			compatible = "zmk,behavior-hold-tap";
			label = "LAYER_DOUBLE_TAP";
			#binding-cells = <2>;
			tapping-term-ms = <200>;
			quick-tap-ms = <175>;
			flavor = "tap-preferred";
			bindings = <&mo>, <&kp>;
		};
	};
	
    keymap {
        compatible = "zmk,keymap";

        layer_0 { /* Base */
            bindings = <
                &kp Q &kp W &kp E &kp R &kp T    &kp Y &kp U &kp I &kp O &kp P
                &kp A &ldt LAYER_8 S &ldt LAYER_4 D &ldt LAYER_6 F &kp G    &kp H &ldt LAYER_2 J &ldt LAYER_1 K &ldt LAYER_5 L &kp QUOT
                &kp Z &mt LCTRL X &mt LALT C &kp V &kp B    &kp N &kp M &mt RALT COMMA &mt RCTRL DOT &kp SLASH
                    &mt LSHIFT CAPS &kp SPACE    &ldt LAYER_3 BSPC &kp ENTER
            >;
        };

        layer_1 { /* Nav */
            bindings = <
                &trans &kp HOME &kp UP &kp END &trans    &trans &trans &trans &trans &trans
                &trans &kp LEFT &kp DOWN &kp RIGHT &trans    &trans &kp RCTRL &trans &kp LSHIFT &trans
                &trans &kp PG_UP &trans &kp PG_DN &trans    &trans &trans &trans &trans &trans
                    &trans &trans    &trans &trans
            >;
        };

        layer_2 { /* Sym */
            bindings = <
                &kp N1 &kp N2 &kp N3 &kp N4 &kp N5    &kp N6 &kp N7 &kp N8 &kp N9 &kp N0
                &kp GRAVE &trans &trans &kp LPAR &kp RPAR    &trans &trans &kp SEMI &kp MINUS &kp EQUAL
                &trans &trans &trans &trans &trans    &trans &trans &kp LBKT &kp RBKT &kp BSLH
                    &trans &trans    &kp RSHIFT &trans
            >;
        };

        layer_3 { /* Util */
            bindings = <
                &kp ESC &trans &trans &kp F4 &trans    &sten_on &trans &kp UP &trans &kp DEL
                &kp TAB &trans &trans &kp LGUI &trans    &trans &kp LEFT &kp DOWN &kp RIGHT &trans
                &trans &kp LCTRL &trans &trans &trans    &trans &kp HOME &trans &kp END &to 10
                    &kp LSHIFT &kp LALT    &sten_off &trans
            >;
        };

        layer_4 { /* Numpad */
            bindings = <
                &trans &trans &trans &trans &trans    &kp KP_PLUS &kp KP_N7 &kp KP_N8 &kp KP_N9 &kp KP_MULTIPLY
                &trans &trans &trans &trans &trans    &kp KP_MINUS &kp KP_N4 &kp KP_N5 &kp KP_N6 &kp KP_DIVIDE
                &trans &trans &trans &trans &trans    &kp KP_N0 &kp KP_N1 &kp KP_N2 &kp KP_N3 &kp KP_EQUAL
                    &trans &kp KP_NUM    &kp KP_DOT &kp KP_ENTER
            >;
        };

        layer_5 { /* Fn/BT */
            bindings = <
                &kp F1 &kp F2 &kp F3 &kp F4 &kp F5    &trans &trans &trans &trans &trans
                &kp F6 &kp F7 &kp F8 &kp F9 &kp F10    &bt BT_CLR &bt BT_PRV &bt BT_NXT &trans &bt BT_SEL 0
                &kp F11 &kp F12 &trans &trans &trans    &trans &trans &trans &trans &trans
                    &trans &trans    &trans &trans
            >;
        };

        layer_6 { /* Media */
            bindings = <
                &trans &trans &trans &trans &trans    &trans &kp C_BRI_DN &trans &kp C_BRI_UP &trans
                &trans &trans &trans &trans &trans    &trans &kp C_PREV &kp C_PP &kp C_NEXT &trans
                &trans &trans &trans &trans &trans    &trans &trans &trans &trans &trans
                    &kp C_MUTE &kp C_VOL_DN    &kp C_VOL_UP &kp C_MUTE
            >;
        };

        layer_7 { /* Steno */
            bindings = <
                &kp SLASH &kp SLASH &kp SLASH &kp SLASH &kp SLASH    &to LAYER_3 &kp SLASH &kp SLASH &kp SLASH &kp SLASH
                &kp S &kp T &kp P &kp H &kp DOT    &kp F &kp J &kp L &kp X &kp D
                &kp S &kp K &kp W &kp R &kp DOT    &kp Q &kp B &kp G &kp C &kp Z
                    &kp A &kp O    &kp E &kp U
            >;
        };

        layer_8 { /* MseMvmnt */
            bindings = <
                &none &none &none &none &none    &none &msc SCRL_UP &mmv MOVE_UP &msc SCRL_DOWN &none
                &mkp MCLK &none &mkp RCLK &mkp LCLK &none    &none &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &none
                &none &none &none &none &none    &none &msc SCRL_LEFT &none &msc SCRL_RIGHT &none
                    &mo 9 &none    &none &none
            >;
        };

        layer_9 { /* MseMvmnt Fast */
            bindings = <
                &none &none &none &none &none    &none &msc MOVE_Y(15) &mmv MOVE_Y(-900) &msc MOVE_Y(-15) &none
                &mkp MCLK &none &mkp RCLK &mkp LCLK &none    &none &mmv MOVE_X(-900) &mmv MOVE_Y(900) &mmv MOVE_X(900) &none
                &none &none &none &none &none    &none &msc MOVE_X(-15) &none &msc MOVE_X(15) &none
                    &trans &none    &none &none
            >;
        };

        layer_10 { /* Gaming */
            bindings = <
                &kp ESC &kp Q &kp W &kp E &kp R    &none &mkp LCLK &mmv MOVE_UP &mkp RCLK &none
                &kp TAB &kp A &kp S &kp D &kp F    &none &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &none
                &kp LSHIFT &none &none &none &none    &none &msc SCRL_UP &mkp MCLK &msc SCRL_DOWN &to 0
                    &mo 11 &kp SPACE    &mkp LCLK &mkp RCLK
            >;
        };

        layer_11 { /* Gaming Fast */
            bindings = <
                &kp ESC &kp Q &kp W &kp E &kp R    &none &mkp LCLK &mmv MOVE_Y(-900) &mkp RCLK &none
                &kp TAB &kp A &kp S &kp D &kp F    &none &mmv MOVE_X(-900) &mmv MOVE_Y(900) &mmv MOVE_X(900) &none
                &kp LSHIFT &none &none &none &none    &none &msc MOVE_Y(15) &mkp MCLK &msc MOVE_Y(-15) &to 0
                    &trans &kp SPACE    &mkp LCLK &mkp RCLK
            >;
        };

    };
};
